/**
* Estilo relacionados a la caja editable de producto
*/
.product {
  background: $white;
  margin: 16px;
  width: 200px;
  border-radius: 2px;
  .product-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .product-price {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .product-name,
  .product-price {
    color: $gray-medium;
    padding: 0 16px;
    text-align: center;
  }
  .product-action {
    padding: 16px;
    button {
      width: 100%;
      transition: all 300ms ease-in;
      &.AGREGADO {
        background: $primary-green;
      }
      &.NODISPONIBLE {
        background: $black;
        cursor: default;
      }
    }
  }
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
// Operador de cantidad
.stepper-input {
  display: flex;
  display: -webkit-flex;
  color: $gray-medium;
  max-width: 120px;
  margin: 0 auto;
  .addup,
  .subtract {
    height: 24px;
    width: 24px;
    border: 1px solid $gray-eighty;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 22px;
    -moz-user-select: none;
    -webkit-user-select: none;
    &:hover {
      color: $primary-rappi;
      border-color: $primary-rappi;
    }
    &:active {
      color: $white;
      border-color: $primary-rappi;
      background: lighten($primary-rappi, 15%);
    }
  }
  .quantity {
    height: 24px;
    width: 48px;
    text-align: center;
    margin: 0 12px;
    border-radius: 2px;
    border: 1px solid $gray-eighty;
    &:focus {
      outline: none;
      border-color: $primary-rappi;
    }
  }
}
